h1,h2 {
  text-align: center;
}

h5 {
  text-decoration: underline;
}

/* give bootstrap wells a nice drop-shadow effect:
 */
.well {
  box-shadow: 10px 10px 5px #888888;
}

.row.content {
  border: 1px solid #DDDDDD;
  margin: 0px 0px 10px;
  padding-top: 10px;
}
.row.content.tanksel {
  margin-top: 15px;
}
.col-md-4.text-right {
  margin-top: 10px;
}

.form_errors {
  padding-top: 10px;
  margin: 10px 5px 0px 5px;   
}

th.sortable,
.glyphicon-refresh:hover,
.glyphicon-search:hover {
  cursor: pointer;
}

.search-bar {
  display: none;
}
.search-bar .search-btn {
  margin-top: 23px;
}

.change_password {
  display: none;
}
#change_password {
  margin-left: 15px;
  margin-bottom: 15px;
}

div.tank_action fieldset.form-group {
    margin-left: 50px;
    margin-bottom: 0px;
}

div.order_seq fieldset.form-group {
  position: absolute;
  top: -13px;
  left: 16em;
}

span.radio span {
  display: block;
}

/* input field sizings:
 */
.number input {     /* numeric inputs */
  width: 6em;
  text-align: right;
}

.tanksel select {  /* tank selection */
  width: 20em;
}
.units select,      /* other select drop-downs */
.type select {
  width: 10em;
}
.input-group.date { /* datepicker fields */
  width: 11em;
}

div.email input {
  width: 25em;
}

td.tdc label {
  margin-right: 10px;
}
#chart_zoom,
#show_notes {
  margin-left: 10px;
}

/* the chart page needs explicit height, otherwise it will
 * collapse into nothing on initial display
 */
div#testChartDiv {
    border: 1px solid black;
    height: 450px;
    margin: 15px 0px;
}

/* this is necessary so that the colour picker will be
 * displayed *above* the modal pane (otherwise, it remains
 * hidden behind the modal pane).
 */
div.colpick {
    z-index: 3000;
}

