  <form action="<% request.uri_base %>/login" method=post>
    <table>
    <tr><td>Login:</td>
        <td><input type=text name=login></td>
    </tr>
    <tr><td>Password:</td>
        <td><input type=password name=password></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input id="loginBtn" type=submit value=Login></td>
    </tr>
    </table>
  </form>
  
  <script>
  // style the login button per jQueryUI:
  $(function() { $('#loginBtn').button(); })
  </script>
