<% IF session.logged_in %>
<form action="<% add_entry_url %> method="post" class="add-test">
<dl>
	<dt>Tests:</dt>
	<dd><input type="text" size="30" name="tank_name" /></dd>
</dl>
</form>
<% END %>
Tank: <% tank_name %>
<% IF tests.size %>
Test history:
<table>
<tr><td>Date</td><td>Description</td><td>Type</td><td>&nbsp;</td></tr>
<% FOREACH tank_id IN tanks.keys.nsort %>
   <tr><td><% tanks.$tank_id.tank_id %></td>
       <td><% tanks.$tank_id.tank_name %></td>
       <td><% tanks.$tank_id.water_type %> </td>
       <td><a href="/tests?tank_id=<% tanks.$tank_id.tank_id %>">Tests</a>
   </tr>
<% END %>
</table>
<% ELSE %>
<p>No test results found for selected tank.</p>
<% END %>
</ul>
