
<h3>TankTracker System - Password Reset.</h3>
<p>
Please visit the<a href="https://tanktracker.caboo.isa-geek.net/password_reset?code=[% code %]">
password page</a> within the next 24 hours to reset your password.
</p>
<p>
If you experience any issues, please send an email to <a href="mailto:caboo.web@gmail.com?Subject="TankTracker%20Query" target="_top">
TankTracker Admin</a>
</p>
<p>
- The TankTracker Team
</p>
