Plain-text password reset email.

Please visit the following page within the next 24 hours to reset
your password.

https://drcrmanager.caboo.isa-geek.net/password_reset?code=[% code %]

If you experience any issues, please send an email to caboo.web@gmail.com.

- The DrCrManager Team

