
<h3>Welcome to TankTracker.</h3>
<p>
Please visit <a href="https://tanktracker.caboo.isa-geek.net/password_reset?code=[% code %]">
the password page</a> within the next 24 hours to set a password for your new account.
</p>
<p>
If you experience any issues, please send an email to <a href="mailto:caboo.web@gmail.com?Subject="tankTracker%20Query" target="_top">
TankTracker Admin</a>
</p>
<p>
- The TankTracker Team.
</p>
